input#message {
  height: 30px;
  margin-right: 5px;
}

.chat-container {
  display:block;
  width:100%;
}
.chat-container:nth-child(4) {
  opacity: .8;
}
.chat-container:nth-child(3) {
  opacity: .6;
}
.chat-container:nth-child(2) {
  opacity: .4;
}

.chat-container a {
  text-transform: uppercase;
  font-weight:bold;
  color:#816A98;
  font-size:.8em;
  letter-spacing:2px;
}

.chat-container div {
  background: #323035;
  padding: 0.5em;
  color: white;
  margin: 5px 0 10px 0;
  border-radius: 5px;
}
