@import "../../../theme_variables";

.document-container {
  width: 90%;
  float: right;
}

.document-header {
  height: 50px;
  background-color: $light-blue;
  color: $primary-contrast;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;

  .invitation-link {
    left: 10px;
    float: left;
    top: 7px;
    width: 150px;
  }

  .document-name {
    font-size: 40px;
  }
}

.document-text {
  width: 100%;
  margin-top: 20px;

  textarea {
    min-height: 400px;
    background-color: $primary-background;
  }
}

.document-sidenav-container {
  min-height: 500px;
  overflow: visible;
}

#toggle-chat {
  margin-left: 5px;
  margin-top: 10px;
}

mat-sidenav {
  overflow: visible;
  background-color: $primary-background;
  border-radius: 5px;
  max-width: 20%;
}
