.chat-container {
  width: 20%;
  height: 100%;
  float: left;
}

.document-container {
  width: 80%;
  padding-left: 50px;
  float: right;
}

.document-header {
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;

  .invitation-link {
    left: 10px;
    float: left;
    top: 7px;
    width: 150px;
  }

  .document-name {
    font-size: 40px;
  }
}

.document-text {
  width: 100%;
  margin-top: 20px;

  textarea {
    min-height: 400px;
  }
}
