<div class="document-header">
  <span class="document-name" *ngIf="document">{{document.name}}</span>
  <button mat-raised-button mat-warn
          (click)="copyDocumentLink()" class="invitation-link">{{ invitationLinkText }}</button>
</div>

<mat-sidenav-container class="document-sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-chat [chatId]="document?.chatId"></app-chat>
  </mat-sidenav>

  <mat-sidenav-content>
    <span><button mat-stroked-button id="toggle-chat" color="primary" (click)="sidenav.toggle()"><i class="material-icons">message</i></button></span>
    <mat-drawer-container class="document-container">
      <mat-drawer-content>
        <div>
          <mat-form-field class="document-text" *ngIf="document">
            <textarea placeholder="Document body" #documentText id="document-text-container" matInput [(ngModel)]='document.text' (click)="getCaretPos(documentText)" (keyup)="getCaretPos(documentText)" (keyup)="saveDocument()"></textarea>
          </mat-form-field>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
