@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-indigo, A100);
$app-warn:    mat-palette($mat-red);

$primary: mat-color($app-primary);
$primary-contrast: mat-color($app-primary, default-contrast);
$primary-200: mat-color($app-primary, 200);
$primary-300: mat-color($app-primary, 300);
$primary-400: mat-color($app-primary, 400);
$primary-background: mat-color($app-primary, 50);
$primary-light: mat-color($app-primary, A100);
$accent: mat-color($app-accent);
$accent-contrast: mat-color($app-accent, default-contrast);
$warn: mat-color($app-warn);
$warn-contrast: mat-color($app-warn, default-contrast);

$light-blue: mat-color($app-primary, A200);


$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$app-text: mat-color(map-get($app-theme, foreground), text);
