@import "../../../theme_variables";

mat-grid-tile {
  &.document-tile {
    border: 1px solid $primary-contrast;
    border-radius: 5px;
    background-color: $primary;
    color: $primary-contrast;

    a {
      color: $primary-contrast;
    }

    &:hover {
      background-color: $primary-light;
      cursor: pointer;
    }

    mat-grid-tile-footer {
      cursor: default;
    }

    &:last-of-type mat-grid-tile-footer {
      justify-content: space-around;
    }
  }

  &.new-document-tile {
    background-color: $primary-light;
  }

  &.document-add .mat-icon {
    transform: scale(5);
  }
}

mat-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
